@import "../../../../styles/variables.scss";

.bioContent {
  .flex {
    flex-direction: column;

    @media #{$break-lg-up} {
      flex-direction: row;
    }

    .headshot {
      width: 100%;
      margin: 0 0 50px 0;

      @media #{$break-xs-up} {
        max-width: 220px;
      }

      @media #{$break-lg-up} {
        width: calc(33% - #{$section-bottom});
        max-width: none;
        margin-right: $section-bottom;
      }
    }

    .bio {
      width: 100%;

      @media #{$break-lg-up} {
        width: 65%;
      }
    }
  }
}