@import "../../../styles/variables.scss";

.about {


	.skillSet {
		.skills {
			& > .flex {
				margin: -15px;

				&.skillHeaders {
					display: none;

					@media #{$break-xl-up} {
						display: flex;
					}

					.skillLevel {
						margin-bottom: 0;

						.skillLevelHeader {
							height: 100%;
							display: flex;
							flex-direction: column;
							box-sizing: border-box;

							h3 {
								max-width: 250px;
							}

							.description {
								margin-top: auto;
							}
						}
					}
				}

				&.skillLevels {
					flex-direction: column;

					@media #{$break-xl-up} {
						flex-direction: row;
					}

					.skillLevel {
						.skillLevelHeader {
							display: block;

							@media #{$break-xl-up} {
								display: none;
							}
						}
					}
				}

				.skillLevel {
					width: calc(100% - 30px);
					margin: 15px;
					border: 2px solid $black;

					@media #{$break-xl-up} {
						width: calc(33% - 30px);
					}

					.skillLevelHeader {
						padding: 20px;
						background-color: $black;

						h3 {
							margin: 0;
							color: $white;
						}

						.description {
							margin-bottom: 0;
							padding: 20px 0 0 0;
							font-size: $font-size-body-xs-mobile;
							color: $white;

							@media #{$break-sm-up} {
								font-size: $font-size-body-xs;
							}
						}
					}

					.skillGroups {
						padding: 20px;

						@media #{$break-sm-up} {
							column-count: 2;
							column-gap: 40px;
						}

						@media #{$break-lg-up} {
							column-count: 3;
						}

						@media #{$break-xl-up} {
							column-count: 1;
						}

						.skillGroup {
							margin-bottom: 30px;
							break-inside: avoid;

							&:last-of-type {
								margin-bottom: 0;
							}

							h4 {
								margin-bottom: 10px;
							}

							ul {
								margin: 0;
								padding: 0;
								list-style-type: none;

								li {
									margin-bottom: 10px;
									line-height: $line-height-heading;
								}
							}
						}
					}
				}
			}
		}
	}
}
