@import "../styles/variables.scss";

.skip-to-content {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	padding: 10px 15px;
	background-color: $white;
	transform: translate(-50%, -500px);
	transition: transform $transition-speed;
	font-weight: $font-weight-medium;
	font-size: 16px;
	color: $black;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.15;
	white-space: nowrap;
	z-index: 999;

	&:focus {
		transform: translate(-50%, 5px);
	}
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: 0;
}

.js-focus-visible :focus-visible {
	outline: 0;
	box-shadow: 0 0 0 3px $blue;
}
