// MONTSERRAT

// 400 - Regular

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("/fonts/files/montserrat/montserrat-v15-latin-regular.woff2")
			format("woff2"),
		url("/fonts/files/montserrat/montserrat-v15-latin-regular.woff")
			format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 400;
	src: local(""),
		url("/fonts/files/montserrat/montserrat-v15-latin-italic.woff2")
			format("woff2"),
		url("/fonts/files/montserrat/montserrat-v15-latin-italic.woff")
			format("woff");
	font-display: swap;
}

// 500 - Medium

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: local(""),
		url("/fonts/files/montserrat/montserrat-v15-latin-500.woff2")
			format("woff2"),
		url("/fonts/files/montserrat/montserrat-v15-latin-500.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 500;
	src: local(""),
		url("/fonts/files/montserrat/montserrat-v15-latin-500italic.woff2")
			format("woff2"),
		url("/fonts/files/montserrat/montserrat-v15-latin-500italic.woff")
			format("woff");
	font-display: swap;
}

// 600 - Semi-Bold

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: local(""),
		url("/fonts/files/montserrat/montserrat-v15-latin-600.woff2")
			format("woff2"),
		url("/fonts/files/montserrat/montserrat-v15-latin-600.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 600;
	src: local(""),
		url("/fonts/files/montserrat/montserrat-v15-latin-600italic.woff2")
			format("woff2"),
		url("/fonts/files/montserrat/montserrat-v15-latin-600italic.woff")
			format("woff");
	font-display: swap;
}

// 700 - Bold

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("/fonts/files/montserrat/montserrat-v15-latin-700.woff2")
			format("woff2"),
		url("/fonts/files/montserrat/montserrat-v15-latin-700.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 700;
	src: local(""),
		url("/fonts/files/montserrat/montserrat-v15-latin-700italic.woff2")
			format("woff2"),
		url("/fonts/files/montserrat/montserrat-v15-latin-700italic.woff")
			format("woff");
	font-display: swap;
}

// 800 - Extra Bold

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	src: local(""),
		url("/fonts/files/montserrat/montserrat-v15-latin-800.woff2")
			format("woff2"),
		url("/fonts/files/montserrat/montserrat-v15-latin-800.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 800;
	src: local(""),
		url("/fonts/files/montserrat/montserrat-v15-latin-800italic.woff2")
			format("woff2"),
		url("/fonts/files/montserrat/montserrat-v15-latin-800italic.woff")
			format("woff");
	font-display: swap;
}

// IBM PLEX MONO

// 400 - Regular

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("/fonts/files/ibm-plex-mono/ibm-plex-mono-v6-latin-regular.woff2")
			format("woff2"),
		url("/fonts/files/ibm-plex-mono/ibm-plex-mono-v6-latin-regular.woff")
			format("woff");
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: italic;
	font-weight: 400;
	src: local(""),
		url("/fonts/files/ibm-plex-mono/ibm-plex-mono-v6-latin-italic.woff2")
			format("woff2"),
		url("/fonts/files/ibm-plex-mono/ibm-plex-mono-v6-latin-italic.woff")
			format("woff");
	font-display: swap;
}

// 700 - Bold

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("/fonts/files/ibm-plex-mono/ibm-plex-mono-v6-latin-700.woff2")
			format("woff2"),
		url("/fonts/files/ibm-plex-mono/ibm-plex-mono-v6-latin-700.woff")
			format("woff");
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: italic;
	font-weight: 700;
	src: local(""),
		url("/fonts/files/ibm-plex-mono/ibm-plex-mono-v6-latin-700italic.woff2")
			format("woff2"),
		url("/fonts/files/ibm-plex-mono/ibm-plex-mono-v6-latin-700italic.woff")
			format("woff");
	font-display: swap;
}
