@use "sass:math";
@import "../styles/variables.scss";

label {
	width: 100%;
	display: block;

	.label {
		display: block;
		margin-bottom: math.div($spacing-standard, 2);
		font-family: $font-family;
		font-weight: $font-weight-bold;
		font-size: $font-size-supporting;
		color: $slate;
		line-height: $line-height-condensed;
	}

	&.error {
		input:not([type="radio"]):not([type="checkbox"]) {
			border-color: $red;
		}
	}
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
select,
textarea {
	&::placeholder {
		color: $slate;
	}

	&:-ms-input-placeholder {
		color: $slate;
	}

	&::-ms-input-placeholder {
		color: $slate;
	}
}

.action-links-wrap {
	min-height: 49px;
	display: flex;
	align-items: center;
}

.input-action-links-wrap {
	.input-action-links-row {
		@media #{$break-md-up} {
			display: flex;
		}

		.input-action-links {
			margin: 0 0 math.div($spacing-standard, 2) 0;

			@media #{$break-md-up} {
				margin-right: #{$spacing-standard};
			}

			&.right {
				@media #{$break-md-up} {
					margin-right: 0;
					margin-left: auto;
				}
			}

			.label {
				display: inline-block;
				margin-right: math.div($spacing-standard, 2);
				font-weight: $font-weight-bold;
				color: $slate;
			}
		}

		&.bottom {
			.input-action-links {
				margin-top: math.div($spacing-standard, 2);
				margin-bottom: 0;
			}
		}
	}
}

.recaptcha {
	& > div {
		& > div {
			max-width: 100%;
			
			iframe {
				max-width: 100%;
			}
		}
	}
}

.form-response {
	margin: math.div($spacing-standard, 2) 0 0 0;
	font-weight: $font-weight-bold;
	font-size: $font-size-supporting;
	line-height: $line-height-condensed;

	&.error {
		color: $red !important;
	}

	&.global {
		margin-bottom: $spacing-standard;
	}
}
